{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 10]><html class="no-js lt-ie9 ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en-US">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if context.title %}{{ context.title }}{% else %}Higher Health – Improving wellbeing. Inspiring success.{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#f2f2f2">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'images/icons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'images/icons/android-icon-512x512.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" media="all">
</head>
<body>
  <section class="wrapper">
    <header id="masthead" class="header">
      <div class="header-inner">
        <div class="header__brand">
          <a class="site-title" href="http://higherhealth.ac.za/" rel="home">
            <img src="{% static 'images/hh-logo.png' %}" alt="logo">
          </a>
        </div>
        <div class="header__menu">
          <ul class="menu">
            <li class="menu__item menu__item--current">
              <a href="#" class="menu__link"></a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <div class="content">
      <div class="content-intro">
      <!--  <div class="content-inner content--sidebar"></div> -->
        <div class="content-inner">
          <div class="heading-block">
            <h1 class="heading heading-primary">Welcome to HealthCheck <br/>Daily Health Screening Portal</h1>
            <h2 class="heading heading-secondary">Your daily risk assessment tool</h2>
          </div>
          <h3>Please help us by answering a few questions about you and your health.</h3>
          <p>You will receive advice on what actions to take based on national
           guidelines and the data you enter will help us in predictive modelling
           and planning our national response to COVID-19.
           Thank you for coming forward and for contributing to the health
           of all citizens AND stopping the spread of the virus 🦠
          </p>

           {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </section>

  <section class="map-wrapper">
    <div class="map-inner">
      <div id="locationField">
        <input id="autocomplete"
          placeholder="Enter your address"
          onFocus="geolocate()"
          type="text"/>
      </div>
      <table id="address">
        <tr>
          <td class="label">Street address</td>
          <td class="slimField"><input class="field" id="street_number" disabled="true"/></td>
          <td class="wideField" colspan="2"><input class="field" id="route" disabled="true"/></td>
        </tr>
        <tr>
          <td class="label">City</td>
          <td class="wideField" colspan="3"><input class="field" id="locality" disabled="true"/></td>
        </tr>
      </table>
      <div id="map"></div>
    </div>
  </section>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{PLACES_API_KEY}}&libraries=places"></script>
  <script type="text/javascript">
  	document.addEventListener('DOMContentLoaded',function(e) {
      document.getElementsByTagName('body')[0].addEventListener('scroll',function(e) {
				if(e.target.scrollTop > 185) {
          document.getElementsByTagName('body')[0].classList.add('sticky');
				} else {
					document.getElementsByTagName('body')[0].classList.remove('sticky');
				}
			});
    });

    /*----GOOGLE PLACES REVIEW----*/


  </script>
</body>
</html>
