{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 10]><html class="no-js lt-ie9 ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en-US">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if context.title %}{{ context.title }}{% else %}Higher Health – Improving wellbeing. Inspiring success.{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#f2f2f2">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'images/icons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'images/icons/android-icon-512x512.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}?v=20200529" media="all">
    <!-- TO DO: GOOGLE ANALYTICS -->

    <!--[if !IE]><!-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/except-ie.css' %}?v=20200529" />
    <!--<![endif]-->
    <noscript>
      <p class="no-script-label">For full functionality of this site it is necessary to enable JavaScript on your browser.
      Or use or install the chrome browser with JavaScript enabled.
      <a href="https://www.google.com/chrome/">Install Chrome</a>
      Here are the <a href="https://www.enable-javascript.com/">
      instructions how to enable JavaScript in your web browser</a>.</p>
    </noscript>
</head>
<body id="healthcheck">
  <section class="wrapper">
    {% block header %}
      <header id="masthead" class="header">
        <div class="header-inner">
        <div class="header-brand">
          <a class="header-brand__link" href="/" rel="home">
            <img class="header-brand__logo"  src="{% static 'images/hh-logo.png' %}" alt="Higherhealth Logo">
          </a>
        </div>
        <div class="header__menu">
          <ul class="menu">
            <li class="menu__item menu__item--current">
              <a href="#" class="menu__link"></a>
            </li>
          </ul>
        </div>
      </div>
      </header>
    {% endblock %}
    {% block content %}{% endblock %}

    <footer class="footer">
      <div class="footer-inner">
        <div class="footer-content">
          <ul class="footer-list">
            <li class="footer-list__item">
              <a href="/" class="footer-list__link">Home</a>
            </li>
            <li class="footer-list__item">
              <a href="/terms" class="footer-list__link">Terms</a>
            </li>
            <li class="footer-list__item">
              <a href="https://sacoronavirus.co.za/" target="_blank" class="footer-list__link">COVID-19 Portal</a>
            </li>
          </ul>
          <p class="footer__copyright">HigherHealth &copy; {% now "Y" %}</p>
        </div>
        <div class="footer-powered-by">
          <ul class="logo-list">
            <li class="logo-list__item">
              <a class="logo-list__anchor" href="http://higherhealth.ac.za/">
                <img class="logo-list__image" src="{% static 'images/footer-logo.png' %}" alt="Higherhealth Footer Logo" width="120" height="26,34">
              </a>
            </li>
            <li class="logo-list__item">
              <a class="logo-list__anchor" href="http://www.dhet.gov.za/">
                <img class="logo-list__image" src="{% static 'images/DHEAT-logo-white.png' %}" alt="Department of Higher Education and Training" width="120" height="46,88">
              </a>
            </li>
            <li class="logo-list__item">
              <a class="logo-list__anchor" href="http://praekelt.org">
                <img class="logo-list__image" src="{% static 'images/prk-logo.png' %}" alt="Praekelt" width="120" height="36,56">
              </a>
            </li>
            <li class="logo-list__item">
              <a class="logo-list__anchor" href="http://turn.io">
                <img class="logo-list__image" src="{% static 'images/turn-logo-white.png' %}" alt="Turn" width="78" height="31,65">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </section>
  {% block extra_js %}
  <script type="text/javascript">
  "use strict";
    const bodyBlock = document.getElementById('healthcheck');
  	document.addEventListener('DOMContentLoaded',function(e) {
      bodyBlock.addEventListener('scroll',function(e) {
				if(e.target.scrollTop > 360) {
          bodyBlock.classList.add('sticky');
				} else {
					bodyBlock.classList.remove('sticky');
				}
			});
    });
  </script>
  {% endblock %}
  {% block form_js %}{% endblock %}
</body>
</html>
