{% extends 'base.html' %}

{% block content %}
  <div class="content">
    <div class="content-intro">
    {% if submitted %}
      {% include "includes/receipt.html" %}
    {% else %}

      <div class="content-inner">
        <div class="heading-container">
          <h1 class="heading heading-primary">Welcome to HealthCheck <br/>Daily Health Screening Portal</h1>
          <h2 class="heading heading-secondary">Your daily risk assessment tool</h2>
          <h3>Please help us by answering a few questions about you and your health.</h3>
          <p>You will receive advice on what actions to take based on national
           guidelines and the data you enter will help us in predictive modelling
           and planning our national response to COVID-19.
           Thank you for coming forward and for contributing to the health
           of all citizens AND stopping the spread of the virus 🦠
          </p>
        </div>
        <form action="" method="POST" class="login-form" novalidate>
        {% csrf_token %}
          <div class="login-form__read-terms">
            <ul id="read-terms" class="fieldset">
              <li>
                <input type="checkbox" id="healthcheck_terms" name="healthcheck-terms" required>
                <label for="healthcheck_terms" class="label">
                  <a href="/terms">I accept the terms</a>
                </label>
              </li>
            </ul>
          </div>
          <div id="questionnaires">
            <div class="login-form__location">
              <h2 class="heading-secondary">Personal Questionare</h2>
              <div class="login-form__screening">
                <ul class="fieldset">
                  {% for field in form %}
                    {% if "symptoms_" not in field.name and "medical_" not in field.name %}
                      <li>
                        {{field}}
                        {{field.errors}}
                        <label for="{{ field.id_for_label }}" class="label">
                          <a href="">{{field.label}}</a>
                        </label>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
              <p class="subtitle">Sharing your location data will help us to further accurately map cases of COVID-19</p>
              <div class="login-form__map">
                <div id="locationField">
                  <input id="autocomplete"
                    placeholder="Type your physical address"
                    onFocus="geolocate()"
                    type="text"/>
                </div>
                <ul id="address" class="fieldset">
                  <li>
                    <label for="street_number" class="label">Street address</label>
                    <input class="field" id="street_number" disabled="true"/>
                    <input class="field" id="route" disabled="true"/>
                  </li>
                  <li>
                    <label for="locality" class="label">City</label>
                    <input class="field" id="locality" disabled="true"/>
                  </li>
                  <li>
                    <label for="country" class="label">Country</label>
                    <input class="field" id="country" disabled="true"/>
                  </li>
                </ul>
              </div>
            </div>

            <div class="login-form__medical">
              <h2 class="heading-secondary">Medical Questionare</h2>
              <ul id="medical" class="fieldset">
                {% for field in form %}
                  {% if "symptoms_" in field.name or "medical_" in field.name %}
                    {% if field.name == "medical_confirm_accuracy" %}
                      <h3 class="subheading">And finally</h3>
                    {% endif %}
                    <li>
                      <label for="sweating" class="label">{{ field.label }}</label>
                      {{field.errors}}
                      {{ field }}
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
            <button type="submit" class="cta cta-primary">Check</button>
          </div>
        </form>
      </div>
    {% endif %}
    </div>
  </div>
{% endblock %}
