{% extends 'base.html' %}
{% load temp_tags static tz %}

{% block content %}
<div class="content">
  <div class="content-intro">
    <div class="content-receipts">
      <div class="content-receipts__logo">
        <ul class="r-logo-list">
          <li class="r-logo-list__item">
            <a class="logo-list__anchor" href="http://higherhealth.ac.za/">
              <img class="header-brand__logo"  src="{% static 'images/hh-logo-small.png' %}" alt="Higherhealth Logo">
            </a>
          </li>
          {% if risk_level == "low" %}
          <li class="receipts-results-message">
            <h3>Thank you for answering all questions.</h3>
            <p>
              Based on your responses, you are at low risk of having COVID-19.
              If you start to feel ill or if you come into contact with someone infected with COVID-19, please take this risk assessment again.
              This clearance is available for the next 24 hours so please check in daily, with HealthCheck.
            </p>
          </li>
          {% elif risk_level == "moderate" %}
          <li class="receipts-results-message">
            <h3>Based on your responses, we recommend that you remain in SELF-QUARANTINE for a period of 14 days and complete this HealthCheck daily to monitor your symptoms.</h3>
            <p>If possible, stay and sleep alone in a room that has a window with good air flowing through.</p>
            <ul>
              <li>You can talk to other family members and go outside, but you should stay at least 2 meters away from everyone at all times.</li>
              <li>You should not have visitors at your house during this time.</li>
              <li>One family member should be assigned as your caregiver. This exposes less of your family and also ensures that you and this caregiver can develop good habits so that they do not catch the virus from you.</li>
              <li>If these procedures are not possible, you should contact your health care worker or clinic for alternative options.</li>
            </ul>
          </li>
          {% elif risk_level == "high" %}
            <li class="receipts-results-message">
              <h3>Based on your responses, we urge you to get tested to find out if you are infected with COVID-19.</h3>

              <p>Go to your nearest testing center or call the <strong>COVID-19 Hotline: 0800029999,</strong> or your healthcare practitioner, for further information on what to do next, how and where to get tested.</p>
              <p><strong>Follow these important steps when seeking care:</strong></p>
              <ul>
                <li>Avoid contact with other people in your community in your household and your community, if possible, stay in a separate room.</li>
                <li>Put on a face mask before you enter the healthcare facility- if you have a cough.</li>
              </ul>
              <p>
                If you have or start getting severe symptoms, seek medical care urgently.
              </p>
            </li>
          {% endif %}

          {% comment %}
          <!--
          <li class="r-logo-list__item">
            <a class="logo-list__anchor" href="http://higherhealth.ac.za/">
              <img class="logo-list__image" src="{% static 'images/DHEAT-logo-black.png' %}" alt="Department of Higher Education and Training" width="160" height="60,53">
            </a>
          </li>
          -->
          {% endcomment %}
        </ul>
      </div>

      <div class="receipts-results receipts-results--{% if risk_level == "low" %}low{% elif risk_level == "moderate" %}mid{% elif risk_level == "high" or risk_level == "critical" %}high{% endif %}
      ">
        <div class="receipts-headings">
          <h4 class="heading subtitle">HealthCheck Clearance
          {% if risk_level == "low" %}Granted{% elif risk_level == "moderate" or risk_level == "high" or risk_level == "critical" %}Denied{% endif %}
          </h4>
        </div>
        <div class="risks">
          <h2 class="">{{first_name}} {{last_name}}</h2>
          <p class="risks-num">{{msisdn}}</p>
          <ul class="risk-cat">
            <li class="risk-cat__item">
              <h5 class="risk-cat__label">Risk Level: </h5>
              <p class="risk-cat__val">
                {% if risk_level == "low" %}Low{% elif risk_level == "moderate" %}Medium{% elif risk_level == "high" or risk_level == "critical" %}High{% endif %}
              </p>
            </li>
            <li class="risk-cat__item">
              <h5 class="risk-cat__label">Date Issued:</h5>
              <p class="risk-cat__val">{{timestamp|localtime}}</p>
            </li>
            <li class="risk-cat__item">
              <h5 class="risk-cat__label">Expiry date:</h5>
              <p class="risk-cat__val">{% now "F j, Y" %}, 23:59:59 p.m. <span class="expiry-hint">(At the end of today)</span></p>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
