{% extends 'base.html' %}
{% load temp_tags static %}
{% block content %}
  <div class="content">
    <div class="content-intro">
      <div class="content-inner">
        <div class="heading-container">
          <h1 class="heading heading-primary">Welcome to HealthCheck</h1>
          <h2 class="heading heading-secondary">Your daily risk assessment tool.</h2>
          <h3 class="heading heading-subtitle">Please help us by answering a few questions about you and your health.</h3>
          <p>
            You will receive advice on what actions to take based on national guidelines,
            and the data you enter will help us in predictive modelling and planning
            our national response to COVID-19.

            Thank you for coming forward and for contributing to the
            health of all citizens AND stopping the spread of the virus 🦠
          </p>
        </div>
        <form action="" method="POST" id="login_form" class="login-form" novalidate>
        {% csrf_token %}
          <!-- TERMS FORM -->
          <div class="login-form__read-terms">
            <ul id="read-terms" class="fieldset">
              <li>
                <input type="checkbox" id="healthcheck_terms" name="healthcheck-terms" required>
                <label for="healthcheck_terms" class="label">I accept the terms</label>
                <a href="/terms" class="label-link" target="_blank">Read terms and policy</a>
              </li>
            </ul>
          </div>

          <!-- USER FORM -->
          <div id="questionnaires">
            <!-- REGISTRATION -->
            <div class="login-form__location">
              <h2 class="heading-secondary">Registration</h2>
              <div class="login-form__screening">
                {% if form.errors %}
                  <p class="error">Please correct the errors below</p>
                {% endif %}
                <ul class="fieldset">
                  {% with 'city address route country street_number' as field_list %}
                    {% for field in form %}
                      {% if "history_" not in field.name and "facility_" not in field.name and "symptoms_" not in field.name and "medical_" not in field.name and field.name not in field_list.split %}
                        <li>
                          {% if field|field_type != "HiddenInput" %}
                            {{field}}
                            <label for="{{ field.id_for_label }}" class="label">
                              <a href="">=={{field.label}}</a>
                            </label>
                            {{field.errors}}
                          {% endif %}
                        </li>
                      {% endif %}
                    {% endfor %}
                  {% endwith %}
                </ul>
              </div>
              <p class="subtitle">Sharing your location data will help us to further accurately map cases of COVID-19</p>
              <div class="login-form__map">
                <div id="locationField">
                  <input id="autocomplete"
                    placeholder="Type your physical address"
                    onFocus="geolocate()"
                    type="text"
                    value="{{ form.address.value|default_if_none:"" }}"
                    name="address"/>
                    {% if form.address.errors  %}{{form.address.errors}}{% endif %}
                </div>
                {% if form.latitude or form.longitude %}
                  {{form.latitude}}
                  {{form.longitude}}
                {% endif %}
                <div class="location-field-autoload">
                  <p class="location-field-hint">The below physical address fields will be automatically populated from the address entered above. Otherwise please fill in the information.</p>
                  <ul id="address" class="address-list fieldset">
                    <li class="address-list__item">
                      <input class="field" name="street_number" id="street_number" readonly value="{{ form.street_number.value|default_if_none:'' }}"/>
                      <input class="field" name="route" id="route" readonly value="{{ form.route.value|default_if_none:'' }}"/>
                      <label for="street_number" class="label">Street address:</label>
                    </li>
                    <li class="address-list__item">
                      <input class="field" name="city" id="locality" readonly value="{{ form.city.value|default_if_none:'' }}"/>
                      <label for="locality" class="label">City:</label>
                    </li>
                    <li class="address-list__item">
                      <input class="field" name="country" id="country" readonly value="{{ form.country.value|default_if_none:'' }}"/>
                      <label for="country" class="label">Country:</label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- MEDICAL 1 -->
            <div class="login-form__medical">
              <h2 class="heading-secondary">Where are you going today?</h2>
              <ul id="destination" class="fieldset">
                {% for field in form %}
                  {% if "facility_" in field.name %}
                    {% if field.name == "facility_destination_university" %}
                      <h2 class="heading-secondary">Educational institution information</h2>
                    {% endif %}
                    <li>
                      <label for="{{ field.name }}" class="label">{{ field.label }}</label>
                      {{field.errors}}
                      {{ field }}
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>

            <!-- MEDICAL 2 -->
            <div class="login-form__medical">
              <h2 class="heading-secondary">Medical History</h2>

              <ul class="fieldset">
                <li>
                  <label for="{{ form.history_pre_existing_condition.name }}" class="label">{{ form.history_pre_existing_condition.label }}</label>
                  {{form.history_pre_existing_condition.errors}}
                  {{ form.history_pre_existing_condition }}
                </li>
              </ul>

              <ul id="preexistingconditionsForm" class="fieldset">
                {% for field in form %}
                  {% if "history_" in field.name and field.name != 'history_pre_existing_condition' %}
                    <li>
                      <label for="{{ field.name }}" class="label">{{ field.label }}</label>
                      {{field.errors}}
                      {{ field }}
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>

            <!-- MEDICAL 3 -->
            <div class="login-form__medical">
              <h2 class="heading-secondary">How are you feeling today?</h2>
              <ul id="medical" class="fieldset">
                {% for field in form %}
                  {% if "symptoms_" in field.name or "medical_" in field.name %}
                    {% if field.name == "medical_confirm_accuracy" %}
                      <h2 class="subheading">Confirmation</h2>
                    {% endif %}
                    <li>
                      <label for="{{ field.name }}" class="label">{{ field.label }}</label>
                      {{field.errors}}
                      {{ field }}
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
            <button id="entrySubmit" type="submit" class="cta cta-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block form_js %}
  <script type="text/javascript">
  "use strict";

    let universities = {
      {% for uni in form.fields.facility_destination_university.choices.queryset %}
         "{{ uni.pk }}": "{{ uni.province }}" {% if not forloop.last %},{% endif %}
      {% endfor %}
    },
    campuses = {
      {% for camp in form.fields.facility_destination_campus.choices.queryset %}
         "{{ camp.pk }}": "{{ camp.university.pk }}" {% if not forloop.last %},{% endif %}
      {% endfor %}
    },
    prov = document.getElementById('id_facility_destination_province'),
    uni = document.getElementById('id_facility_destination_university'),
    camp = document.getElementById('id_facility_destination_campus'),
    uniClone = uni.cloneNode(true),
    campClone = camp.cloneNode(true);

    let selected_province = prov.options[prov.selectedIndex];
    if(selected_province.value !== '') {
      showHiddenInputs(selected_province.value, uniClone, uni, universities);
      showHiddenInputs(uni.options[uni.selectedIndex].value, campClone, camp, campuses);

      prov.addEventListener('change', function() {
        showHiddenInputs(this.value, uniClone, uni, universities);
        clearCampus();
      });
      uni.addEventListener('change', function() {
        showHiddenInputs(this.value, campClone, camp, campuses);
        camp.parentElement.classList.remove('hidden');
      });
    };
    function showHiddenInputs(elem, clonedElems, selectInputs, csvInputElem) {
      selectInputs.options.length = 0;
      for(let i = 0; i < clonedElems.options.length; i++) {
        let uniChild = clonedElems.options[i];
        if(csvInputElem[uniChild.value] !== undefined) {
          if(csvInputElem[uniChild.value] == elem) {
            selectInputs.appendChild(uniChild);
          }
        }
      }
    };
    function clearCampus() {
      uni.value = null;
      camp.value = null;
      camp.parentElement.classList.add('hidden');
    }

  /* MEDICAL */
  const checkbox = document.getElementById('healthcheck_terms'),
    questionnairesForm = document.getElementById('questionnaires'),
    addressField = document.getElementById('autocomplete'),
    preexistingconditionsYes= document.getElementById('id_history_pre_existing_condition_0'),
    preexistingconditionsNo= document.getElementById('id_history_pre_existing_condition_1'),
    preexistingconditionsNotsure= document.getElementById('id_history_pre_existing_condition_2');
  document.addEventListener('DOMContentLoaded',function(e) {
    //Review & cleanup
    let checkboxKey = sessionStorage.getItem('checkbox');
    if(checkboxKey === 'true') {
      checkbox.checked = true;
      questionnairesForm.classList.add('showing');
      questionnairesForm.classList.remove('hidden');
    } else {
      checkbox.checked = false;
      questionnairesForm.classList.add('hidden');
      questionnairesForm.classList.remove('showing');
    }
    checkbox.addEventListener('change', function(e){
      if (e.target.checked) {
        sessionStorage.setItem('checkbox', 'true');
        questionnairesForm.classList.add('showing');
        questionnairesForm.classList.remove('hidden');
      } else {
        sessionStorage.setItem('checkbox', 'false');
        questionnairesForm.classList.add('hidden');
        questionnairesForm.classList.remove('showing');
      }
    });

    //Pre-existing conditions Yes & cleanup
    let preexistingRadioKey = sessionStorage.getItem('preexistingRadio');
    if(preexistingRadioKey === 'true' || preexistingRadioKey === 'not_sure') {
      preexistingconditionsYes.checked = true;
      preexistingconditionsForm.classList.add('showing');
      preexistingconditionsForm.classList.remove('hidden');
    } else {
      preexistingconditionsYes.checked = false;
      preexistingconditionsForm.classList.add('hidden');
      preexistingconditionsForm.classList.remove('showing');
    }
    preexistingconditionsYes.addEventListener('change', function(e){
      if (e.target.checked) {
        sessionStorage.setItem('preexistingRadio', 'true');
        preexistingconditionsForm.classList.add('showing');
        preexistingconditionsForm.classList.remove('hidden');
      } else {
        sessionStorage.setItem('preexistingRadio', 'false');
        preexistingconditionsForm.classList.add('hidden');
        preexistingconditionsForm.classList.remove('showing');
      }
    });

    preexistingconditionsNo.addEventListener('change', function(e){
      if (e.target.checked) {
        sessionStorage.setItem('preexistingRadio', 'false');
        preexistingconditionsForm.classList.add('hidden');
        preexistingconditionsForm.classList.remove('showing');
      }
    });
    preexistingconditionsNotsure.addEventListener('change', function(e){
      if (e.target.checked) {
        sessionStorage.setItem('preexistingRadio', 'true');
        preexistingconditionsForm.classList.add('showing');
        preexistingconditionsForm.classList.remove('hidden');
      } else {
        sessionStorage.setItem('preexistingRadio', 'false');
        preexistingconditionsForm.classList.add('hidden');
        preexistingconditionsForm.classList.remove('showing');
      }
    });
  });

  /* GOOGLE PLACES API: AUTOCOMPLETE */
  let placeSearch, autocomplete;
  const componentForm = {
    street_number: 'short_name',
    route: 'long_name',
    locality: 'long_name',
    country: 'long_name'
  };

  function initAutocomplete() {
    // Create the autocomplete object, restricting the search predictions to
    // geographical location types.
    autocomplete = new google.maps.places.Autocomplete(
        document.getElementById('autocomplete'), {types: ['geocode']});

    // Avoid paying for data that you don't need by restricting the set of
    // place fields that are returned to just the address components.
    autocomplete.setFields(['address_components', 'geometry']);

    // When the user selects an address from the drop-down, populate the
    // address fields in the form.
    autocomplete.addListener('place_changed', fillInAddress);
  }
  function fillInAddress() {
    // Get the place details from the autocomplete object.
    let cityInput = autocomplete.getPlace();

    for (let component in componentForm) {
      document.getElementById(component).value = '';
    }

    let location = cityInput.geometry.location;
    document.getElementById('id_latitude').value = location.lat();
    document.getElementById('id_longitude').value = location.lng();

    // Get each component of the address from the place details,
    // and then fill-in the corresponding field on the form.
    for (let i = 0; i < cityInput.address_components.length; i++) {
      let addressType = cityInput.address_components[i].types[0];
      if (componentForm[addressType]) {
        let val = cityInput.address_components[i][componentForm[addressType]];
        document.getElementById(addressType).value = val;
      }
    }
  }

  // Bias the autocomplete object to the user's geographical location,
  // as supplied by the browser's 'navigator.geolocation' object.
  function geolocate() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        let geolocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        let circle = new google.maps.Circle(
          {center: geolocation, radius: position.coords.accuracy});
        autocomplete.setBounds(circle.getBounds());
      });
    }
  }
  </script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{PLACES_API_KEY}}&libraries=places&callback=initAutocomplete"
      async defer></script>
{% endblock %}
