{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="terms" role="contentinfo">
    <div class="terms__content">
      <h2 class="heading heading--terms heading-secondary">HIGHER HEALTH HEALTHCHECK</h2>
      <h3 class="heading heading--terms heading-label">PRIVACY POLICY</h3>
      <h3 class="heading heading--terms heading-label">("THIS POLICY")</h3>
      <p>Last update: 1 November 2021</p>
      <p>This is the privacy policy for the Higher Heath COVID-19 Risk assessment tool (“HealthCheck”).</p>
      <p>We treat your privacy seriously. We comply with the Protection of Personal Information Act, 4 of 2013 (the <strong>Act</strong>) when dealing with personal information. All definitions contained in this privacy policy accord with those as included in the Act.</p>
      <p>Personal information (PI) is information about a data subject, who can be an identifiable living natural person (i.e. you) or a juristic person (i.e. a company). PI does not include any anonymous, de-identified, or statistical information that cannot be linked back to you. Special PI is PI that is regulated by Chapter 3 Part B of the Act.</p>
      <p>We want you to understand who you are sharing your PI with, what kind of PI we are processing and how we use it.</p>
      <p>​​WHERE YOU ARE A MINOR CHILD, YOUR USE OF HEALTHCHECK WILL BE SUBJECT TO THIS POLICY. YOUR COMPETENT PERSON WILL BE REQUIRED TO PROVIDE US WITH CONSENT BEFORE YOU MAY USE HEALTHCHECK.</p>

      <h3 class="heading heading-label">CONSENT</h3>
      <p>We will not process your PI and Special PI except as set out in this policy.</p>
      <p>By continuing to use this service, you voluntarily consent to us processing your PI in accordance with the provisions of this policy in accordance with the lawful purpose. This policy does not limit or exclude any of your rights under the Act. Where we collect and Process Special Personal Information, you hereby provide us with your explicit consent to Process such Personal Information.<p>

      <h3 class="heading heading-label">CHANGES TO THIS POLICY</h3>
      <p>We may change this policy from time to time. You can check the latest policy at any time by visiting this webpage</p>

      <h3 class="heading heading-label">WHAT TYPE OF PERSONAL INFORMATION DO WE COLLECT</h3>
      <h4>Directly from you</h4>
      <p>We collect the following PI and Special PI directly from you:</p>
      <ul class="terms-list">
        <li class="terms-list__item">If you communicate with us using Healthcheck, we will receive your phone number and WhatsApp username if via WhatsApp.</li>
        <li class="terms-list__item">We confirm that the use of HealthCheck is not targeted at children. However you may be a student who is under the age of 18 and if this is the case, we confirm that in terms of the Constitution of the Republic of South Africa, 1996<sup><a href="#fn1" id="r1">1</a></sup> and the Children’s Act<sup><a href="#fn2" id="r2">2</a></sup> children are entitled to access information about their health care.</li>
        <li class="terms-list__item">If you are accessing this service as a competent person as defined in the Act on behalf of a child or allow the child (or a child for which you are the competent person as defined in the Act) to access HealthCheck using either your phone number or their own, they do so with your consent as a competent person and in accordance with the provisions set out below regarding access by children to HealthCheck.</li>
        <li class="terms-list__item">
          If you, as an adult, interact with the service using any of the risk assessment tools on HealthCheck we will receive the information that you submit in your responses. The PI that may be collected is in response to the following questions:
          <ul class="terms-list">
            <li class="terms-list__item">Location (Province and Town or Location Pin). You don’t have to provide us with location information. If you choose to tell us your location, we will collect that information</li>
            <li class="terms-list__item">Age category</li>
            <li class="terms-list__item">Gender</li>
            <li class="terms-list__item">Symptoms: fever, cough, sore throat, difficulty breathing, body aches, loss of taste or smell</li>
            <li class="terms-list__item">Exposure to infected persons</li>
            <li class="terms-list__item">Existing underlying medical conditions</li>
          </ul>
        </li>
        <li class="terms-list__item">If you send messages to HealthCheck, we will receive the information that you include in your message.</li>
    </ul>
    <p>Communications using WhatsApp are secured with end-to-end encryption, which means that WhatsApp and other third parties cannot read or access them. For more details, see WhatsApp’s privacy policy at <a href="https://www.whatsapp.com/legal/#privacy-policy">https://www.whatsapp.com/legal/#privacy-policy</a>.</p>
    <h4>Automatically when you use HealthCheck</h4>
    <ul class="terms-list">
      <li class="terms-list__item">we may collect the name of your network operator and the country in which your network operator is located</li>
      <li class="terms-list__item">we will record details of the menu items you select</li>
    </ul>

    <h3 class="heading heading-label">WHY DO WE PROCESS YOUR PERSONAL INFORMATION (“The Lawful Purpose”)</h3>
    <p>We process your PI and Special PI:</p>
    <ul class="terms-list">
      <li class="terms-list__item">
        to allow you to participate in the HealthCheck self-diagnosis process. If you choose to do so then this will allow us to (either directly or through our Operator, Praekelt.org) or through the National Department of Health to:
        <ul class="terms-list">
          <li class="terms-list__item">contact you, including to ask you for further information and to prompt you to carry out follow up self-diagnoses</li>
          <li class="terms-list__item">to send follow up messages via SMS or WhatsApp regarding additional treatment or information relevant to any current COVID-19 symptoms you may be experiencing and to follow up on whether you have sought necessary treatment</li>
          <li class="terms-list__item">help us understand the current COVID-19 symptoms of as many South Africans as possible for use in the fight against COVID-19</li>
          <li class="terms-list__item">help us provide aggregated and anonymised information to South Africans on status of the COVID-19 virus in South Africa and other data about the wellbeing of our population</li>
        </ul>
      </li>
      <li class="terms-list__item">for any other public health and public safety purposes including for historical, statistical or research purposes to the extent that the serves a public interest and the processing is necessary for the purpose concerned</li>
      <li class="terms-list__item">to respond to any questions you share with us via HealthCheck</li>
      <li class="terms-list__item">to conduct research and statistical analysis (including via surveys and A/B testing), which will also develop, test and improve HealthCheck and allow us to test and troubleshoot new products and features for HealthCheck.</li>
      <li class="terms-list__item">to administer HealthCheck and for internal operations, including troubleshooting and testing</li>
      <li class="terms-list__item">to improve HealthCheck and other communications channels that the South African Government may utilise in the fight against COVID-19</li>
      <li class="terms-list__item">to keep HealthCheck safe and secure</li>
      <li class="terms-list__item">for any other purpose authorised by you or the Act</li>
    </ul>

    <h3 class="heading heading-label">ACCURACY OF PERSONAL INFORMATION</h3>
    <p>You warrant that you have taken steps to ensure that the PI that You provide to us is accurate and up to date.</p>
    <p>In the event that any of the PI that you provide to us contains any errors or inaccuracies, You agree to indemnify and hold us, our officers, directors, employees, agents, and members harmless from and against any claims, damages, actions and liabilities including without limitation, loss of profits, direct, indirect, incidental, special, consequential or punitive damages arising out of our use of, or reliance on such PI.</p>
    <p>You also agree to notify us immediately if You become aware that any PI that you provide to us has been unlawfully obtained by another person without your consent or if you did not obtain consent before providing another person's Personal Information to us.</p>

    <h3 class="heading heading-label">DISCLOSING YOUR PERSONAL INFORMATION</h3>
    <p>We will not publish or sell any personally identifiable information.</p>
    <p>Your PI may be shared with persons who provide services to us (e.g. research services or hosting, maintenance and support of the technologies used to provide this channel), to the extent necessary for those persons to provide those services to us. Those persons may be located outside of South Africa. This may mean your PI is processed outside of South Africa. You consent to your PI being processed outside of South Africa but only to the extent that we ensure that sufficient technical safeguards are in place to protect your PI to the same level as that which we operate. We will only share your PI for the Lawful Purpose.</p>
    <p>When you are sharing your information with us you are sharing it with Praekelt PBC, Benefit Corporation (“Turn.io”) and Praekelt Foundation NPC (“Praekelt.org”) who will share your data between them. You consent to your personal information being shared between Turn.io and Praekelt Foundation NPC for the Lawful Purpose as they process your PI on our behalf. Any of the foreign entities with whom Praekelt.org shares your PI will be bound contractually as per Section 72(1)(a) of POPIA to protect any information.</p>
    <p>If you use the HealthCheck channel for self-diagnosis, we may recommend as a result of your self-diagnosis that you contact your doctor or contact the COVID-19 Emergency Hotline 0800029999 to assist with testing, diagnosis and advice.</p>
    <p>We may disclose your PI and Special PI:</p>
    <ul class="terms-list">
      <li class="terms-list__item">when we believe that disclosure is reasonably necessary to comply with any applicable law, regulation, legal process or a government request;</li>
      <li class="terms-list__item">to enforce our contracts and policies but only in accordance with the provisions of the Act;</li>
      <li class="terms-list__item">to protect the security and integrity of the Service;</li>
      <li class="terms-list__item">to another person authorised by you;</li>
      <li class="terms-list__item">to protect ourselves and the public from illegal activities in accordance with the Act; or</li>
      <li class="terms-list__item">to respond to an emergency which we believe in good faith requires us to disclose information.</li>
    </ul>
    <p>We may disclose aggregated and anonymised information to third parties, both in South Africa and overseas including for study and research purposes and to help other countries combat COVID-19.</p>
    <p>Where you are a minor who is using the Services, you warrant (promise) that your competent person has given consent for us to transfer your personal information outside of the Republic of South Africa.</p>

    <h3 class="heading heading-label">PROTECTING YOUR PERSONAL INFORMATION</h3>
    <p>We will take reasonable steps to keep your PI safe from loss, unauthorised activity, or other misuses. We are legally obliged to provide adequate protection for the PI we hold and to stop unauthorised access and use of personal information. We will, on an ongoing basis, continue to review our security controls and related processes to ensure that your personal information is secure.</p>
    <p>Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your PI, we cannot guarantee the security of your information transmitted through HealthCheck; any transmission is at your own risk.</p>
    <p>Once we have received your information, we will use strict procedures and security features to try to prevent unauthorised access.</p>
    <p>HealthCheck may, from time to time, provide links to external sites. If you follow a link to another site, the owner of that site will have its own privacy policy relating to your PI. We suggest you review that site’s privacy policy before you provide PI.  We are not responsible for the privacy policies or the content of such sites.</p>
    <p>Notwithstanding the above, it is emphasised that even though we have taken significant steps to protect the PI in our possession, You acknowledge and understand that no organisation, including ours, can fully protect against security risks associated with the processing of PI online.</p>

    <h3 class="heading heading-label">FURTHER PROCESSING</h3>
    <p>We expressly acknowledge and undertake to not use any PI for any other purposes that are incompatible with the Lawful Purpose of this Policy, without:</p>
    <ol>
      <li>first obtaining your Consent; or</li>
      <li>having another lawful basis for such further Processing.</li>
    </ol>
    <p>In the event that a further purpose is incompatible with one of the original purposes listed above, we may update this Policy reflecting such changes.</p>

    <h3 class="heading heading-label">PROCESSING PERSONAL INFORMATION OF CHILDREN</h3>
    <p>While this service is targeted to adults (over the age of 18) and we do not market this service or target it towards children, we recognise that HealthCheck may be accessed and utilised by students who are still under the age of 18 given its public health benefit and service to all persons residing in the Republic of South Africa and the right of children to obtain information about their health care under the Constitution and the Children’s Act. We also recognise that parents and other competent persons may wish to access HealthCheck on behalf of your children or those children under your care.</p>
    <p>We have therefore taken the following additional personal information security steps to ensure that to the extent that HealthCheck is accessed by or on behalf of children: -</p>
    <ul class="terms-list">
      <li class="terms-list__item">No personally identifying information about a child/children (who is identified as a child) and who access/es HealthCheck is collected other than the mobile phone number and WhatsApp name used by the child to access HealthCheck.</li>
      <li class="terms-list__item">No further personally identifying information about a child/children who access HealthCheck is collected. This is confirmed by including additional gateways to HealthCheck that requires the age of the person taking a HealthCheck to be included and if the person (for whom the HealthCheck is being conducted) is a child, no questions are included in the assessment that could directly or indirectly identify that child nor is any personally identifying information about that child collected, processed or stored;</li>
    </ul>
    <p>You confirm that as a competent person, you consent to your child accessing HealthCheck and consent that should your child (the child under your care) utilise his/her own mobile telephone, we can collect only the mobile phone number and WhatsApp name used by the child to access HealthCheck.</p>
    <p>If you think that we have unlawfully collected and stored PI from or about a child (someone who is under the age of 18), please contact us at complaints@health.gov.za.</p>

    <h3 class="heading heading-label">ACCESSING, CORRECTING & DELETING YOUR PERSONAL INFORMATION</h3>
    <p>Your rights are fully set out in the Act, these rights include the right to be notified that PI is being collected, access your PI that we hold and to request a correction to, destruction of or deletion of your PI. You have the right to withdraw your consent to your PI being processed at any time and the easiest way to exercise this right is to opt out of the Service. Before you exercise these rights, we will need evidence to confirm that you are the individual to whom the PI relates.</p>
    <p>If you want to exercise any of the above rights or complain, email us at <a href="mailto:info@higherhealth.ac.za">info@higherhealth.ac.za</a>.  Your email should provide evidence of who you are and set out the details of your request (e.g. the PI, or the correction, that you are requesting). If you are a resident in South Africa, you can lodge a complaint to the Regulator at <a href="mailto:complaints.IR@justice.gov.za">complaints.IR@justice.gov.za</a>. There is no charge for lodging a complaint.</p>

    <section>
      <p id="fn1"><sup><a href="#r1">1</a></sup>Section 28(1)(c) all Children have the Right to Basic Health Care.</p>
      <p id="fn2"><sup><a href="#r2">2</a></sup>Act 38 of 2005: Section 13: Information on Health Care
      <ol class="orderedlist-primary">
        <li>Every child has the right to-
          <ol class="orderedlist-secondary">
            <li>have access to information on health promotion and the prevention and treatment of ill-health and disease, sexuality and reproduction;</li>
            <li>have access to information regarding his or her health status;</li>
            <li>have access to information regarding the causes and treatment of his or her health status;</li>
          </ol>
        </li>
      </ol>
      </p>
    </section>
    </div>
  </div>
{% endblock %}
