{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="terms">
    <div class="terms__content">
      <h2 class="heading heading--terms heading-secondary">HIGHER HEALTH COVID-19 USSD, WHATSAPP & WEB SERVICE PRIVACY POLICY
      </h2>
      <p>Privacy policy for the HIGHER HEALTH official COVID-19 USSD & WhatsApp service (‘the Service”). We comply with the Protection of Personal Information Act, 4 of 2013 (the Act) when processing your personal information (PI) Processing includes collecting, using, storing, retrieving, disseminating and destroying.  Your rights are fully set out in the Act. PI is information about a data subject, who is an identifiable living natural person (i.e. you).</p>

      <p><span class="highlighter">CONSENT:</span>
      You consent to us processing your PI in accordance with the provisions of this policy in accordance with the lawful purpose.  You consent to your PI being processed outside of your country where necessary and to us sharing and disclosing your PI for the lawful purpose.</p>

      <h3 class="heading heading-label">WE COLLECT</h3>
      <ul class="terms-list">
        <li class="terms-list__item">Your phone number and WhatsApp username directly from you through the Service</li>
        <li class="terms-list__item">If you send messages to the Service, we will receive the information that you include</li>
        <li class="terms-list__item">Location (Town/City/ Country or a Location Pin), age, gender, symptoms and exposure to infected persons</li>
        <li class="terms-list__item">the name of your network operator and the country in which your network operator is located</li>
        <li class="terms-list__item">details of the menu items you select</li>
      </ul>
      <p>Communications using WhatsApp are secured with end-to-end encryption (WhatsApp’s privacy policy at
      <a href="https://www.whatsapp.com/legal/#privacy-policy" target="_self">https://www.whatsapp.com/legal/#privacy-policy</a>.)</p>

      <h3 class="heading heading-label">
      WE PROCESS YOUR PERSONAL INFORMATION (“The Lawful Purpose”)
      </h3>
      <ul class="terms-list">
        <li class="terms-list__item">to provide you with guidance and information on COVID-19</li>
        <li class="terms-list__item">to allow you to meaningfully participate in the Service</li>
        <li class="terms-list__item">to contact you to ask you for further information and to prompt you to carry out follow up self-diagnoses</li>
        <li class="terms-list__item">to help us understand the current COVID-19 symptoms as possible for use in the fight against COVID-19 in South Africa and provide aggregated and anonymised information on status of the COVID-19 virus in South Africa</li>
        <li class="terms-list__item">to conduct research and statistical analysis</li>
        <li class="terms-list__item">to administer this Service</li>
        <li class="terms-list__item">to improve the Service and other communications channels that HIGHER HEALTH may utilise in the fight against COVID-19</li>
        <li class="terms-list__item">to keep this Service safe and secure and for any other purpose authorised by you</li>
      </ul>
      <br/>
      <h3 class="heading heading-label">DISCLOSING YOUR PERSONAL INFORMATION</h3>
      <p>We will not publish or sell any PI. Your PI may be shared with persons who provide services to us to the extent necessary for those persons to provide those services to us. We may disclose your PI:</p>
      <ul class="terms-list">
        <li class="terms-list__item">when we believe that disclosure is reasonably necessary to comply with the Act, the Disaster Management Act 57 of 2002, any applicable regulations, legal process or a government request;</li>
        <li class="terms-list__item">to enforce our contracts and policies;</li>
        <li class="terms-list__item">to protect the security and integrity of the Service and to protect ourselves and the public from illegal activities; or</li>
        <li class="terms-list__item">to respond to an emergency which we believe in good faith requires us to disclose information.</li>
      </ul>
      <br/>
      <h2 class="heading heading-secondary">PROTECTING YOUR PERSONAL INFORMATION</h2>
      <p>We agree, through the use of strict procedures and security features, to take all reasonable steps to protect your PI.  Note though that when your PI is being transmitted via the internet, its security is not guaranteed and you acknowledge this risk. Once we have received your information, we will use strict procedures and security features to try to prevent unauthorised access. The Service may, from time to time, provide links to external sites which have their own privacy policy relating to your PI. Review that site’s privacy policy before you provide PI.  We are not responsible for the privacy policies or the content of such sites.</p>

      <h3 class="heading heading-label">ACCESSING AND CORRECTING YOUR PERSONAL INFORMATION</h3>
      <p>If you want to exercise any of the above rights or complain, email us at <a href="mailto:covid19@higherhealth.ac.za">covid19@higherhealth.ac.za</a> and/or complain to the Regulator of the Act.  Your email should provide evidence of who you are and set out the details of your request (e.g. the PI, or the correction, that you are requesting).</p>
    </div>
  </div>
{% endblock %}
