{% extends 'base.html' %}
{% load temp_tags static tz %}

{% block content %}
<div class="content" role="contentinfo">
  <div class="content-intro">
    <div class="content-inner">

      <div class="heading-container">
        <h1 class="heading heading-primary">Welcome back to HealthCheck</h1>
        <h2 class="heading heading-secondary">your daily risk assessment tool.</h2>
        <br/>
        <p>Please note that you cannot do another HealthCheck for the next 24 hours.
          <br/>
          If you need to do a HealthCheck for someone else, please click the button below.
        </p>
        <form action="/" method="GET" role="form">
          <button class="cta cta-primary cta-primary--next">Do another HealthCheck</button>
          <input type="hidden" name="redo" value="true"/>
        </form>
      </div>


      <div class="content-receipts">
        <div class="content-receipts__block">
          <div class="content-receipts__logo">
            <a class="logo-list__anchor" href="http://higherhealth.ac.za/">
              <img class="header-brand__logo"  src="{% static 'images/hh-logo-small.png' %}" alt="Higherhealth Logo">
            </a>
          </div>

          <ul class="receipts-results-message-list">
            {% if is_expired %}
              <h3 class="heading-subtitle heading-subtitle--receipt">
                Your clearance certificate has expired. Please do another HealthCheck.
              </h3>
            {% elif risk_level == "low" %}
              <li class="receipts-results-message">
                <h3 class="heading-subtitle heading-subtitle--receipt">
                  Thank you for answering all questions.
                </h3>
                <p>Based on your responses, you are at low risk of having COVID-19.
                  If you start to feel ill or if you come into contact
                  with someone infected with COVID-19, please take this risk assessment again.
                  This clearance is available for the next 24 hours
                  so please check in daily, with HealthCheck.
                </p>
              </li>
            {% elif risk_level == "moderate" %}
              <li class="receipts-results-message">
                <h3 class="heading-subtitle heading-subtitle--receipt">
                  Based on your answers, we suggest that you use HealthCheck for the next few days
                  to check your symptoms.
                </h3>
                <p> If you had contact with someone with COVID-19 AND you said yes to any of the
                  symptoms questions, you may be eligible for testing to find out if you are infected
                  with COVID-19.</p>
                <p>Call the COVID-19 Hotline: 0800029999, or your healthcare practitioner, for what to
                do next and how and where to get tested if advised to do so</p>
                <h4>Should I isolate/quarantine if I have not been tested?</h4>
                <p>You do not need to self-isolate if you have not been tested. If you test and your test
                  comes back positive AND you have symptoms, self-siolate for 7 days.</p>
                <h4>What if I came into contact with someone who tested positive?</h4>
                <p>You do not need to isolate if you had close contact with someone with COVID-19. Watch
                out for symptoms (you can use HealthCheck). If you develop symptoms, see a healthcare
                practitioner.</p>
                <h4>Self-isolation guidelines:</h4>
                <ul>
                  <li><p>Avoid contact with others.</p></li>
                  <li><p>Stay home. Only go out for medical care.</p></li>
                  <li><p>Track your <span class="highlighter">SYMPTOMS</span>.</p></li>
                  <li><p>Get medical attention if you become ill.</p></li>
                  <li><p>Know how to get care.</p></li>
                </ul>
              </li>
            {% elif risk_level == "high" %}
              <li class="receipts-results-message">
                <h3 class="heading-subtitle heading-subtitle--receipt">
                  Based on your answers, you may be eligible for testing to find out if you are
                  infected with COVID-19.
                </h3>
                <p>Call the COVID-19 Hotline: 0800029999, or your healthcare practitioner, for
                what to do next and how and where to get tested if advised to do so.</p>
                <p>If you test and your test comes back positive and you have symptoms,
                self-isolate for 7 days.</p>
                <ul>
                  <li><p>Avoid contact with others.</li></p>
                  <li><p>Stay home. Only go out for medical care.</li></p>
                  <li><p>Track your symptoms.</li></p>
                  <li><p>Get medical attention if you become ill.</li></p>
                  <li><p>Know how to get care.</li></p>
                </ul>
                <p>If you have or start getting severe symptoms, seek medical care urgently.</p>
              </li>
            {% endif %}
          </ul>
        </div>
        <img class="lifebouy-ad"  src="{% static 'images/logos.png' %}" alt="Eu, HWSETA, Lifebuoy logos" role="img">
        <div class="receipts-results receipts-results--{% if risk_level == "high" or risk_level == "critical" or is_expired %}high{% elif risk_level == "moderate" %}mid{% elif risk_level == "low" %}low{% endif %}
        ">
          <div class="receipts-headings">
            <h4 class="heading subheading">HealthCheck Clearance
              {% if is_expired %}Expired{% else %}
                {% if risk_level == "low" %}Granted{% elif risk_level == "moderate" or risk_level == "high" or risk_level == "critical" %}Denied{% endif %}
              {% endif %}
            </h4>
          </div>
          <div class="risks">
            <h2 class="heading heading-secondary">{{first_name}} {{last_name}}</h2>
            <p class="risks-num">{{msisdn}}</p>
            <ul class="risk-cat">
              <li class="risk-cat__item">
                <h5 class="risk-cat__label">Risk Level: </h5>
                <p class="risk-cat__val">
                  {% if risk_level == "low" %}Low{% elif risk_level == "moderate" %}Medium{% elif risk_level == "high" or risk_level == "critical" %}High{% endif %}
                </p>
              </li>
              <li class="risk-cat__item">
                <h5 class="risk-cat__label">Date Issued:</h5>
                <p class="risk-cat__val">{{timestamp|localtime}}</p>
              </li>
              <li class="risk-cat__item">
                <h5 class="risk-cat__label">Expiry date:</h5>
                <p class="risk-cat__val">{{ timestamp|date:'F j, Y' }}, 23:59:59 p.m. <span class="expiry-hint">(At the end of the day)</span></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}{% endblock %}
