{% extends 'base.html' %}
{% load temp_tags static compress cache %}
{% block content %}
  <div class="content">
    <div class="content-intro">
      <div class="content-inner content-inner--questionnaires">

        <div class="heading-container">
          <h1 class="heading heading-primary">Welcome to HealthCheck</h1>
          <h2 class="heading heading-secondary">your daily risk assessment tool.</h2>
          <h3 class="heading heading-subtitle">Please help us by answering a few questions about you and your health.</h3>
          <p>
            You will receive advice on what actions to take based on national guidelines,
            and the data you enter will help us in predictive modelling and planning
            our national response to COVID-19.

            Thank you for coming forward and for contributing to the
            health of all citizens AND stopping the spread of the virus 🦠
          </p>
          {% comment %}
            <!--
              Exercise 3:
              Use different headings / ctas for returning users.
            -->
            <h1 class="heading heading-primary">Welcome back to HealthCheck</h1>
            <h3 class="heading heading-subtitle">your daily risk assessment tool.</h3>
            <p>Please help us by answering a few questions about you and your health.</p>
          {% endcomment %}
        </div>

        <form action="" method="POST" id="login_form" class="login-form" novalidate>
        {% csrf_token %}
          <div class="login-form__read-terms">
            <ul id="read-terms" class="fieldset">
              <li class="fieldset__item">
                <input type="checkbox" id="healthcheck_terms" name="healthcheck-terms" required>
                <label for="healthcheck_terms" class="label">I accept the terms</label>
                <a href="{% url 'healthcheck_terms' %}" class="label-link" target="_blank">Read terms and policy</a>
              </li>
            </ul>
          </div>
          <div id="questionnaires">
            <div id="regInfo" class="collapsibles__item login-form__location">
              <div class="pagination">
                <p class="pagination__label">Step 1 of 4</p>
                <span class="pagination__icon">+</span>
              </div>
              <div class="collapsibles__label">
                <h3 class="heading heading-secondary">Registration</h3>
              </div>
              <div id="step_1" class="collapsibles__toggle">
                <div class="login-form__screening">
                  {% if form.errors %}
                    <p class="error">Please correct the errors below</p>
                  {% endif %}
                  <ul id="registration" class="fieldset">
                    {% for field in form.registration_fields %}
                      <li class="fieldset__item">
                        <label for="{{ field.id_for_label }}" class="label">
                          {{field.label}}
                        </label>
                        {{field}}
                        {{field.errors}}
                      </li>
                    {% endfor %}
                  </ul>
                </div>
                <p class="subtitle">Sharing your location data will help us to further accurately map cases of COVID-19</p>
                <div class="login-form__map">
                  <div id="locationField">
                    <input id="autocomplete"
                      placeholder="Type your physical address"
                      onFocus="geolocate()"
                      type="text"
                      value="{{ form.address.value|default_if_none:''}}"
                      name="address"/>
                      {% if form.address.errors %}
                        {{form.address.errors}}
                      {% endif %}
                  </div>
                  {% if form.latitude or form.longitude %}
                    {{form.latitude}}
                    {{form.longitude}}
                  {% endif %}
                  <div class="location-field-autoload">
                    <p class="location-field-hint">The below physical address fields will be automatically populated from the address entered above. Otherwise please fill in the information.</p>
                    <ul id="address" class="address-list fieldset">
                      <li class="address-list__item">
                        <input class="field" name="street_number" id="street_number" readonly value="{{ form.street_number.value}}"/>
                        <input class="field" name="route" id="route" readonly value="{{ form.route.value|default_if_none:''}}"/>
                        <label for="street_number" class="label">Street address:</label>
                      </li>
                      <li class="address-list__item">
                        <input class="field" name="city" id="locality" readonly value="{{ form.city.value|default_if_none:''}}"/>
                        <label for="locality" class="label">City:</label>
                      </li>
                      <li class="address-list__item">
                        <input class="field" name="country" id="country" readonly value="{{ form.country.value|default_if_none:''}}"/>
                        <label for="country" class="label">Country:</label>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="collapsibles__item login-form__medical">
              <div class="pagination">
                <p class="pagination__label">Step 2 of 4</p>
                <span class="pagination__icon">+</span>
              </div>
              <div class="collapsibles__label">
                <h2 class="heading-secondary">Where are you going today?</h2>
              </div>
              <div id="step_2" class="collapsibles__toggle">
                <ul id="destination" class="fieldset">
                  {% for field in form.destination_fields %}
                    {% if field.name == "facility_destination_university" %}
                      <h3 class="heading-subtitle heading-subtitle--edu-label">Educational institution information</h3>
                    {% endif %}
                    <li class="fieldset__item">
                      <label for="{{ field.name }}" class="label">{{ field.label }}</label>
                      {% if field|field_type == 'RadioSelect' %}
                        <ul id='id_{{ field.name }}'>
                        {% for value, text in field.field.choices %}
                          <li>
                            <input name="{{ field.name }}"
                             id="id_{{ field.name|slugify }}_{{ forloop.counter0 }}" type="radio" value="{{ value }}" {% if field.value == value %}checked="checked"{% endif %}/>
                            <label for="id_{{ field.name|slugify }}_{{ forloop.counter0 }}">{{ text|capfirst }}</label>
                          </li>
                        {% endfor %}
                        </ul>
                        {{field.errors}}
                      {% else %}
                        {{field}}
                        {{field.errors}}
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>

            <div class="collapsibles__item login-form__medical">
              <div class="pagination">
                <p class="pagination__label">Step 3 of 4</p>
                <span class="pagination__icon">+</span>
              </div>
              <div class="collapsibles__label">
                <h2 class="heading-secondary">Medical History</h2>
              </div>
              <div id="step_3" class="collapsibles__toggle">
                <ul id="medical-history" class="fieldset">
                  <li class="fieldset__medical">
                    <label for="{{ form.history_pre_existing_condition.name }}" class="label">
                    {{ form.history_pre_existing_condition.label }}
                    </label>
                    <ul id='id_{{form.history_pre_existing_condition.name}}'>
                      {% for value, text in form.history_pre_existing_condition.field.choices %}
                        <li>
                          <input name="{{ form.history_pre_existing_condition.name }}"
                           id="id_{{ form.history_pre_existing_condition.name|slugify }}_{{ forloop.counter0 }}" type="radio" value="{{ value }}" {% if form.history_pre_existing_condition.value == value %}checked="checked"{% endif %}/>

                          <label for="id_{{ form.history_pre_existing_condition.name|slugify }}_{{ forloop.counter0 }}">{{ text|capfirst }}</label>
                        </li>
                      {% endfor %}
                    </ul>
                    {{form.history_pre_existing_condition.errors}}
                  </li>
                </ul>

                <ul id="preexistingconditionsForm" class="fieldset">
                  {% for field in form.history_fields %}
                    <li class="fieldset__medical">
                      {% if field|field_type == 'RadioSelect' %}
                        <ul id='id_{{ field.name }}'>
                        {% for value, text in field.field.choices %}
                          <li>
                            <input name="{{ field.name }}"
                             id="id_{{ field.name|slugify }}_{{ forloop.counter0 }}" type="radio" value="{{ value }}" {% if field.value == value %}checked="checked"{% endif %}/>
                            <label for="id_{{ field.name|slugify }}_{{ forloop.counter0 }}">{{ text|capfirst }}</label>
                          </li>
                        {% endfor %}
                        </ul>
                        {{field.errors}}
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>

              </div>
            </div>

            <div class="collapsibles__item login-form__medical">
              <p class="pagination-ux">Step 4 of 4</p>
              <h2 class="heading-secondary">How are you feeling today?</h2>
              <ul id="medical" class="fieldset">
                {% for field in form.medical_fields %}
                  {% if field.name == "medical_confirm_accuracy" %}
                    <h3 class="heading-subtitle heading-subtitle--edu-label">Confirmation</h3>
                  {% endif %}
                  <li class="fieldset__item">
                    <label for="{{ field.name }}" class="label">{{ field.label }}</label>
                    {% if field|field_type == 'RadioSelect' %}
                      <ul id='id_{{ field.name }}'>
                      {% for value, text in field.field.choices %}
                        <li>
                          <input name="{{ field.name }}"
                           id="id_{{ field.name|slugify }}_{{ forloop.counter0 }}" type="radio" value="{{ value }}" {% if field.value == value %}checked="checked"{% endif %}/>
                          <label for="id_{{ field.name|slugify }}_{{ forloop.counter0 }}">{{ text|capfirst }}</label>
                        </li>
                      {% endfor %}
                      </ul>
                      {{field.errors}}
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
              {% if form.errors %}
                <p class="error">Please correct all the errors before submitting.</p>
              {% endif %}
            </div>
            <button id="entrySubmit" type="submit" class="cta cta-primary">Submit</button>
          </div>

        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block form_js %}

{% cache 300 json_data %}
  {{ universities|json_script:"universities-data" }}

  {{ campuses|json_script:"campus-data" }}
{% endcache %}

{% compress js inline %}
  <script type="text/javascript" src="{% static 'hh.js'%}"></script>
{% endcompress %}

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{PLACES_API_KEY}}&libraries=places&callback=initAutocomplete" async defer></script>
{% endblock %}
