{% extends 'base.html' %}
{% load temp_tags static tz %}

{% block content %}
<div class="content">
  <div class="content-intro">
    <div class="content-inner">

      <div class="heading-container">
        <h1 class="heading heading-primary">Welcome back to HealthCheck</h1>
        <h2 class="heading heading-secondary">your daily risk assessment tool.</h2>
        <br/>
        <p>Please note that you cannot do another HealthCheck for the next 24 hours.
        If you need to do a HealthCheck for someone else, please click the button below.
        </p>
        <button url="{% url 'healthcheck_login' %}" class="cta cta-primary cta-primary--next">Do another HealthCheck</button>
      </div>


      <div class="content-receipts">
        <div class="content-receipts__block">
          <div class="content-receipts__logo">
            <a class="logo-list__anchor" href="http://higherhealth.ac.za/">
              <img class="header-brand__logo"  src="{% static 'images/hh-logo-small.png' %}" alt="Higherhealth Logo">
            </a>
          </div>

          <ul class="receipts-results-message-list">
            {% if risk_level == "low" %}
              <li class="receipts-results-message">
                <h3 class="heading-subtitle heading-subtitle--receipt">
                  Thank you for answering all questions.
                </h3>
                <p>Based on your responses, you are at low risk of having COVID-19.
                  If you start to feel ill or if you come into contact
                  with someone infected with COVID-19, please take this risk assessment again.
                  This clearance is available for the next 24 hours
                  so please check in daily, with HealthCheck.
                </p>
              </li>
            {% elif risk_level == "moderate" %}
              <li class="receipts-results-message">
                <h3 class="heading-subtitle heading-subtitle--receipt">
                  Based on your responses, we recommend that you
                  remain in <span class="highlighter">SELF-QUARANTINE</span>
                </h3>
                <p>To <span class="highlighter">SELF-QUARANTINE</span> for a period of <span class="highlighter">14 days</span> and complete this HealthCheck
                  daily to monitor your symptoms.</p>
                <p>If possible, stay and sleep alone in a room that
                  has a window with good air flowing through.</p>
                <ul>
                  <li><p>You can talk to other family
                    members and go outside, but you should
                    stay at least 2 meters away from everyone at all times.</p></li>
                  <li><p>You should not have visitors at your house during this time.</p></li>
                  <li><p>One family member should be assigned as your caregiver.
                    This exposes less of your family and also ensures that
                    you and this caregiver can develop good habits so
                    that they do not catch the virus from you.</p></li>
                  <li><p>If these procedures are not possible,
                    you should contact your health care worker
                    or clinic for alternative options.</p></li>
                </ul>
              </li>
            {% elif risk_level == "high" %}
              <li class="receipts-results-message">
                <h3 class="heading-subtitle heading-subtitle--receipt">
                  Based on your responses, we urge you to get
                  <span class="highlighter">tested</span> to find out
                  if you are infected with COVID-19.
                </h3>
                <p>Go to your nearest testing center or call the
                  <span class="highlighter">COVID-19 Hotline: 0800029999,</span>
                  or your healthcare practitioner,
                  for further information on what to do next, how and where to get tested.
                </p>
                <h4>Follow these important steps when seeking care:</h4>
                <ul>
                  <li><p>Avoid contact with other people in
                    your community in your household and your community,
                    if possible, stay in a separate room.</p></li>
                  <li><p>Put on a face mask before you enter
                      the healthcare facility- if you have a cough.</p></li>
                </ul>
                <p>If you have or start getting severe symptoms, seek medical care urgently.</p>
              </li>
            {% endif %}
          </ul>
        </div>

        <div class="receipts-results receipts-results--{% if risk_level == "low" %}low{% elif risk_level == "moderate" %}mid{% elif risk_level == "high" or risk_level == "critical" %}high{% endif %}
        ">
          <div class="receipts-headings">
            <h4 class="heading subheading">HealthCheck Clearance
            {% if risk_level == "low" %}Granted{% elif risk_level == "moderate" or risk_level == "high" or risk_level == "critical" %}Denied{% endif %}
            </h4>
          </div>
          <div class="risks">
            <h2 class="heading heading-secondary">{{first_name}} {{last_name}}</h2>
            <p class="risks-num">{{msisdn}}</p>
            <ul class="risk-cat">
              <li class="risk-cat__item">
                <h5 class="risk-cat__label">Risk Level: </h5>
                <p class="risk-cat__val">
                  {% if risk_level == "low" %}Low{% elif risk_level == "moderate" %}Medium{% elif risk_level == "high" or risk_level == "critical" %}High{% endif %}
                </p>
              </li>
              <li class="risk-cat__item">
                <h5 class="risk-cat__label">Date Issued:</h5>
                <p class="risk-cat__val">{{timestamp|localtime}}</p>
              </li>
              <li class="risk-cat__item">
                <h5 class="risk-cat__label">Expiry date:</h5>
                <p class="risk-cat__val">{% now "F j, Y" %}, 23:59:59 p.m. <span class="expiry-hint">(At the end of today)</span></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extra_js %}{% endblock %}
