{% load static %}
<div class="content">
  <div class="content-intro">
    <div class="content-receipts">
      <div class="content-receipts__logo">
        <ul class="r-logo-list">
          <li class="r-logo-list__item">
            <a class="logo-list__anchor" href="http://higherhealth.ac.za/">
              <img class="header-brand__logo"  src="{% static 'images/hh-logo-small.png' %}" alt="Higherhealth Logo">
            </a>
          </li>
          <li class="r-logo-list__item">
            <a class="logo-list__anchor" href="http://higherhealth.ac.za/">
              <img class="logo-list__image" src="{% static 'images/DHEAT-logo-black.png' %}" alt="Department of Higher Education and Training" width="160" height="60,53">
            </a>
          </li>
        </ul>
      </div>
      <div class="receipts-results receipts-results--{% if request.GET.risk_level == "low" %}low{% elif request.GET.risk_level == "mid" %}mid{% elif request.GET.risk_level == "high" %}high{% endif %}
      ">
        <div class="receipts-headings">
          <h4 class="heading subtitle">HealthCheck Clearance
          {% if request.GET.risk_level == "low" %}Granted{% elif request.GET.risk_level == "mid" or request.GET.risk_level == "high" %}Denied{% endif %}
          </h4>
        </div>
        <div class="risks">
          <p class="risks-num">xxx xxx xx</p>
          <ul class="risk-cat">
            <li class="risk-cat__item">
              <h5 class="risk-cat__label">Risk Level: </h5>
              <p class="risk-cat__val">
                {% if request.GET.risk_level == "low" %}Low{% elif request.GET.risk_level == "mid" %}Medium{% elif request.GET.risk_level == "high" %}High{% endif %}
              </p>
            </li>
            <li class="risk-cat__item">
              <h5 class="risk-cat__label">Date Issues:</h5>
              <p class="risk-cat__val">{% now "jS F Y H:i" %}</p>
            </li>
            <li class="risk-cat__item">
              <h5 class="risk-cat__label">Expiry date:</h5>
              <p class="risk-cat__val">-</p>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
