#medical input[type="radio"],
.login-form__medical input[type="radio"] {
  margin: 10px;
  height: auto;
  width: auto;
}
#read-terms input[type="checkbox"] {
  visibility: hidden;
  position: absolute;
}
.fieldset__item ul li {
  margin: 5px 0 5px;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  visibility: hidden;
  position: absolute;
}

input[type="radio"] ~ label,
input[type="checkbox"] ~ label {
  font-size: 16px;
  text-transform: uppercase;
  visibility: visible;
  display: inline-block;
	cursor: pointer;
	position: relative;
}
input[type="radio"] ~ label:before,
input[type="checkbox"] ~ label:after {
	background: #fff;
	border: 2px solid var(--soft-red);
	content: "";
	cursor: pointer;;
	display: inline-block;
	width: 25px;
	height: 25px;
	vertical-align: middle;
	margin: 0 20px;
	transition: all ease-in-out 0.2s;
}

input[type="radio"] ~ label:before {
  border-color: var(--dark-cyan);
  border-radius: 50%;
  margin: 0 20px 0 0;
}
input[type="radio"] + label,
input[type="radio"]:checked + label {
  background-image: none;
}
input[type="radio"]:checked + label:before {
  background: var(--dark-cyan) url('/static/images/icons/check.png') 0 50%/25px no-repeat;;
  opacity: 1;
}
input[type="radio"]#id_checkbox:disabled ~ label {
 	color: var(--very-dark-gray);
}
input[type="radio"]#id_checkbox:disabled ~ label:before {
	border-color: var(--very-dark-gray);
}


input[type="checkbox"] + label,
input[type="checkbox"]:checked + label {
  background-image: none;
}
input[type="checkbox"]:checked + label:after {
  background: var(--soft-red) url('/static/images/icons/check.png') 0 50%/25px no-repeat;;
  opacity: 1;
}
input[type="checkbox"]#id_checkbox:disabled ~ label {
 	color: var(--very-dark-gray);
}
input[type="checkbox"]#id_checkbox:disabled ~ label:after {
	border-color: var(--very-dark-gray);
}
