@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Varela&family=Varela+Round&display=swap');

:root {
  --very-light-gray: #f2f2f2;
  --very-dark-grayish-blue: #4e5358;
  --soft-red: #EF4F71;
  --dark-moderate-cyan: #4db09d;
  --dark-moderate-cyan-2: #3d8d7d;
  --dark-moderate-cyan-3: #367b6e;
}

/*----------- RESETS ----------*/
* {
  outline: none;
}

html, body {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
	background-color: var(--very-light-gray);
	color: rgba(31,31,33,.9);
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.3;
  margin: 0 auto;
  font-size: 16px;
  overflow: auto;
  position: relative;
}

img {
	border: 0;
}

p {
	margin: 0.5em 0 1em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--soft-red);
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: 0.5s ease;
}
a:hover {
  cursor: grab;
  text-decoration: underline;
}


/*----------- WEB PAGE ----------*/
/*
  LAYOUT:
  HEADER + NAV
*/

.wrapper {
  position: relative;
}

.header {
  background-color: #ffffff;
  position: relative;
  transition: transform 0.4s;
}
.sticky .header {
  position: fixed;
  top: 0;
  z-index: 9999;
  transform: translate3d(0, -10%, 0);
  width: 100%;
}

.header-inner {
  box-sizing: border-box;
  box-shadow: 0 0 60px rgba(51, 51, 51, 0.1);
  display: block;
  padding: 10px 5%;
  position: relative;
  width: 100%;
}

.header-brand {
  padding: 0 10px 0 0;
}
.header-brand__link {
  display: inline-block;
}
.header-brand__logo {
  max-width: 270px;
}

.header__menu {
  align-self: center;
  width: 100%;
}
.menu__item {
  display: inline-block;
  padding: 0 0.5em;
}
.menu__link,
.sub-menu__item {
  color: #333;
  display: block;
  font-family: "Varela Round", sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 0;
  text-transform: capitalize;
  vertical-align: middle;
}

/*
  CONTENT

*/

.content {
  animation: shrink 10s infinite alternate;
  /*background-image: url("/static/images/banner-a.jpg");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: 0 0;*/
  height: 100%;
  position: relative;
}
@keyframes shrink {
  0% {
    background-size: 110%;
  }
  100% {
    background-size: 100%;
  }
}


.content-intro {
  position: relative;
  padding: 0 5%;
  margin: 0 auto;
}
.content-inner {
  color: rgba(23, 47, 51, 1);
  margin: 10px auto 2em;
  padding: 10px;
}

#content-receipts {
  text-align: left;
}
#content-receipts .heading-container,
#content-receipts .success-form {
  text-align: left;
}


.content-columns {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
}

.content-columns__sidebar {
  background-color: rgba(95,95,95, 0.2);
  /*background-color: rgba(24, 48, 51, 0.8);*/
}
.content-columns__inner {
  background-color: rgba(95,95,95, 0.2);
}

.heading-container {
  text-align: center;
}
.heading {
 font-weight: 300;
}
.heading-primary {
  color: #000;
  font-family: "Varela Round", sans-serif;
  font-size: 28px;
}

.heading-secondary {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-weight: 400;
}

.subheading {
  font-size: 17px;
  display: inline;
}

/*
FORM

*/
.showing {
  display: block;
  visibility: visible;
}
.hidden {
  display: none;
  visibility: hidden;
}
#questionnaires {
  transition: all ease-in-out 1s;
}
.login-form {
  font-family: 'Lato', sans-serif;
  position: relative;

}
.login-form__location,
.login-form__medical {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.login-form__screening {
  margin: 0 0 2em;
}
.login-form__screening .subtitle {
  font-weight: bold;
}
.login-form__map input[type="text"] {
  margin: 0;
}
.login-form__read-terms {
  margin: 0 auto;
}
.login-form__screening .label {
  display: none;
  visibility: hidden;
}
#address .label {
  color: rgba(68, 68, 68, 0.8);
  display: inline-block;
  visibility: visible;

  text-decoration: underline;
  text-decoration-color: rgba(68, 68, 68, 0.3);
  text-underline-position: under;
}

.errorlist li {
  color: red;
}

label {
  color: rgba(68, 68, 68, 0.8);
}

#address input {
  height: auto;
  width: auto;
}

input,
textarea,
select {
  background: white;
  border: 0;
  display: inline-block;
  margin: 20px auto 0;

  border-bottom: 1px solid rgba(68, 68, 68, 0.3);
  color: rgba(68, 68, 68, 0.8);
  font-size: 1rem;
  height: 40px;
  outline: 0;
  width: 100%;
}

textarea {
  border-bottom: 1px solid rgba(68, 68, 68, 0.3);
  color: rgba(68, 68, 68, 0.8);
  resize: none;
  outline: none;
  font-size: 1rem;
}

input[type="checkbox"]
input[type="radio"] {
  width: auto;
}

.radio-field {
  position: relative;
}

.radio-value {
  color: rgba(23, 47, 51, 1);
}

#medical input[type="radio"] {
  margin: 10px;
  height: auto;
  width: auto;
}

input[type="checkbox"] {
  display: inline-block;
}

#read-terms input[type="checkbox"] {
  visibility: hidden;
  position: absolute;
}
input[type="checkbox"] ~ label {
  font-size: 16px;
  text-transform: uppercase;
  visibility: visible;
  display: inline-block;
	padding: 0 0 10px;
	cursor: pointer;
	position: relative;
}
input[type="checkbox"] ~ label:after {
	background: #fff;
	border: 2px solid var(--soft-red);
	content: "";
	cursor: pointer;;
	display: inline-block;
	width: 25px;
	height: 25px;
	vertical-align: middle;
	margin: 0 10px;
	transition: all ease-in-out 0.2s;
}
input[type="checkbox"] + label,
input[type="checkbox"]:checked + label {
  background-image: none;
}
input[type="checkbox"]:checked + label:after {
  background: var(--soft-red) url('/static/images/icons/check.png') 0 50%/25px no-repeat;;
  opacity: 1;
}
input[type="checkbox"]#id_checkbox:disabled ~ label {
 	color: #333;
}
input[type="checkbox"]#id_checkbox:disabled ~ label:after {
	border-color: #333;
}

.cta-primary {
  position: absolute;
  display: block;
  height: 40px;
  width: 250px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 0;
  border-radius: 20px;
  bottom: -20px;
  background: var(--dark-moderate-cyan);
  color: white;
  font-size: 1.1rem;
  font-weight: 300;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
}

.cta-primary:hover,
.cta-primary:focus {
  background: var(--dark-moderate-cyan-2);
  transform: translateY(-3px);
}


/*
FORM SUCCESS

*/

.success-form {
  text-align: center;
}

/*
FOOTER

*/

.footer {
  background-color: #00AF9E;
  color: #fff;
  padding: 20px 10px;
  text-align: center;
}

.footer-inner {
}

.footer-powered-by {
  position: relative;
}

.logo-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.logo-list__image {
  width: auto;
}
.logo-list__item {
  margin: 1em 0;
}
/*---------------*/

@media screen and (min-width: 1025px) {
  /*
    HEADER
  */
  .header-inner {
    display: flex;
    padding: 1em 10%;
  }
  .header-brand {
    padding: 0 2em 0 0;
  }
  .header-brand__logo {
    max-width: none;
  }
  .heading-container {
    margin: 0 0 2em;
  }

  /*
    CONTENT FORM ENTRY PAGE
  */
  .content-intro {
    padding: 0 10%;
    width: 900px;
  }
  .content-inner {
    margin: 2em auto;
    padding: 2em;
  }
  .content-columns__sidebar {
    max-width: 350px;
  }
  .heading-primary {
    font-size: 35px;
    margin: 0 1em;
  }
  .heading-secondary {
    font-size: 22px;
  }

  /*
    CONTENT FORM SUCCESS PAGE
  */
  #content-receipts .heading-primary  {
    margin: 0;
  }

  /*
    FORM
  */
  .login-form__location,
  .login-form__medical {
    margin: 2em auto 1em;
    padding: 2em;
    width: 450px;
  }
  .login-form__read-terms {
    width: 500px;
  }
  /*
    FOOTER
  */
  .footer {
    padding: 20px 10%;
  }
  .footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo-list__item {
    margin: 0 1em;
  }
}
